.Board {
  margin: 0 auto;
}
.game td{
  width: 50px;
  height: 50px;
  background-color: black;
  border: 1px white solid;
  cursor: pointer;
  transition: background-color 0.5s;
}
.game td.on{
  background-color: yellow;
}
.game td.off{
  background-color: black;
}
